<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- GOOGLE FONTS: Karla, Open Sans, Oswald -->
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans&family=Oswald&display=swap" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include partials/_header %>

    <!-- SITE INTRO -->
    <div class="hero-container">
      <div class="hero-content">

        <i class="fas fa-spa"></i>

        <h1>VERDANT MERCHANTS</h1>
        <p>BUY & SELL QUALITY SUCCULENTS</p>
      </div>
    </div>

    <div class="wrapper">
    <!-- FEATURED ITEMS SECTION -->
    <h2>Featured Items</h2>

      <section class="feature-container">
          <% for (let item in products) { %>
            <div class="feature-item-wrapper">
              <div class="featured-items"><img src="<%= products[item].image %>" width="400px" height="400px" alt="succulent"></div>
              <form class="feature-btn-form" action="product/<%= products[item].user_id %>/<%= products[item].id %>" method="GET"><button ><%= products[item].name %></button></form>
            </div>
           <% } %>
      </section>
      <section class="feature-container">
        <div class="feature-text">
          <span></span>
          <p></p>
        </div>
        <img src="" alt="">
      </section>



    <!-- ABOUT US SECTION -->
    <h2>About Us</h2>
      <section class="about-container">
        <div class="about-text">
          <h3>Title / Catchphrase</h3>
          <p>This website is for our Lighthouse Labs Midterm Project. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
        </div>
        <img src="/images/aboutUs.jpeg" alt="succulent">
      </section>


    </div>

  </body>
</html>
