<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Product Listings</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- GOOGLE FONTS: Karla, Open Sans, Oswald -->
      <link href="https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans&family=Oswald&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <% include partials/_header %>

    <div class="items-wrapper">

      <section class="filter-container">

        <form action="/items/all" method="GET" class="filter_container">
          <button id="first" class="filter-btn" type="submit">All items</button>
        </form>

        <!-- FILTER ITEMS -->
        <form action="/items/below20" method="GET" class="filter_container">
          <button class="filter-btn" type="submit">$20 & Below</button>
        </form>
        <form action="/items/2040" method="GET" class="filter_container">
          <button class="filter-btn" type="submit">$20 - $40</button>
        </form>
        <form action="/items/above40" method="GET" class="filter_container">
          <button class="filter-btn" type="submit">$40 & Above</button>
        </form>
        <form action="/items/indoor" method="GET" class="filter_container">
          <button class="filter-btn" type="submit">Type: Indoor</button>
        </form>
        <form action="/items/outdoor" method="GET" class="filter_container">
          <button class="filter-btn" type="submit">Type: Outdoor</button>
        </form>

      </section>

      <!-- PRODUCTS -->
      <section class="items_container">
        <% for (let item in products) { %>
          <div class="featured-items"><img src="<%= products[item].image %>" alt="succulent">
            <form action="/product/<%= products[item].user_id %>/<%= products[item].id %>" method="GET"><button ><%= products[item].name %></button></form>
            <span>$<%= products[item].price /100 %>.00</span>
            <% if (products[item].quantity === 0) { %>
              <p class="sold-out">SOLD OUT</p>
            <% } %>
          </div>
        <% } %>
      </section>
    </div>

    <% include partials/_footer %>
  </body>
</html>
