<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- GOOGLE FONTS: Karla, Open Sans, Oswald -->
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans&family=Oswald&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <% include partials/_header %>

    <!-- HERO SECTION -->
    <div class="hero-section">
      <img src="" alt="">
      <div class="hero-username">
        <span><%= user.name %></span>
        <p>bio</p>
      </div>
    </div>

    <!-- FAVOURITES SECTION -->
    <div class="favourites">
      <h2>FAVOURITES</h2>
      <% for (let item in favourites) { %>
        <p><%= favourites[item].product_id %></p>
        <p><%= favourites[item].user_id %></p>
        <form method="GET" action="/product/<%= favourites[item].user_id %>/<%= favourites[item].fav_product_id %>">
          <button>View Details</button>
        </form>
        <form method="POST" action="/favourites/<%= favourites[item].fav_user_id %>/delete_favourites/<%= favourites[item].favourite_id %>">
          <button>Delete</button>
        </form>
      <% } %>
    </div>

    <!-- USER LISTING SECTION -->
    <div class="user-listing">
      <h2>USER LISTINGS</h2>
      <% for (let product in products) { %>
            <p><%= products[product].name %></p>
            <form method="GET" action="/product_on_sales/<%= products[product].user_id %>/<%= products[product].name %>">
              <button>
              </button>
            </form>
      <% } %>
    </div>
    <!-- <td><form method="POST" action= "/:user_id/delete_favourites">
      <button id="fav_delete" class= "btn btn-outline-primary" type="submit">delete</button>
    </form></td> -->

  </body>
</html>
</html>
